.step2 {
  p {
    font-weight: bold;
  }
}
.step2_imgUrl{
  display: block;
  margin-bottom: 1rem;
}

.step2_imgUrl {
  width: 15rem;
}
.step2_btn-prev {
  position: absolute;
  bottom: 5rem;
}

.step2_btn-next {
  position: absolute;
  bottom: 5rem;
  right: 20rem;
}
