.step3 {
  p {
    font-weight: bold;
  }
}

.step3_amount {
  width: 20rem;
}

.step3_rate {
  display: block;
  width: 20rem;
}

.step3_btn-prev{
  position: absolute;
  bottom: 5rem;
}

.step3_btn-complete{
  position: absolute;
  bottom: 5rem;
  right: 20rem;
  
}
