.wizard {
  background:#eceff1;
  width: 100%;
  padding: 2rem;
}

.wizard_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0;
  }
}

.wizard_steps {
  padding: 2rem 5rem;
}

.wizard_btn-cancel {
  width: 5rem;
  height: 1.5rem;
  font-size: 1rem;
}
